.map {
    position: relative;
    display: flex;
}

.map .reset-button {
    cursor: pointer;
    font-family: FontAwesome;
    color: #0098b6;
    font-size: 18px;
    position: absolute;
    top: 10px;
    left: 10px;

    background: none;
    border-radius: 0;
    box-shadow: none;
}

.map .contours {
    fill: none;
    stroke: black;
}

.map .insets {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.map .fe {
    display: flex;
    justify-content: space-around;
    padding-bottom: 10px;
}

.map .circo {
    cursor: pointer;
}

.map .fe text {
    font-family: sans-serif;
    text-anchor: middle;
    fill: #000;
    stroke: #FFF;
    font-size: 25px;
    font-weight: bold;
}
