/* generic styling options */
.selector .group {
    margin: 15px;
}

.selector .subgroup + .subgroup {
    margin-left: 20px;
}

.selector h3 {
    font: 30px/1.1 'Abril Fatface',serif;
    margin: 0;
}

.selector h4 {
    font-weight: 700;
    font-style: italic;
    margin: 0 0 0 0;
    font-size: 20px;
    line-height: 1.1;
}

.selector input[type='radio'] {
    display: none;
}

.selector .option {
    display: inline-block;
    line-height: 1;
}

.selector .option + .option {
    margin-left: 5px;
}

.selector label {
    display: block;
    padding: 4px;
    border: 1px solid black;
    cursor: pointer;
    transition: all 200ms;
    font-size: 16px;
}

.selector .nuance {
    margin-left: 7px;
    position: relative;
    top: -0.1em;
}

.selector .nuance + .nuance {
    margin-left: 0;
    border-left: none;
}

.selector .nuance label {
    padding: 0 4px;
}

.selector input[type='radio']:checked + label {
    background: #999999;
    color: white;
}

.inlined {
    display: inline-block;
}

/* positionning */
.selector {
    margin: 5px 0;
}

.selector > div > div {
    display: flex;
}

.selector .tour {
    margin: 0 !important;
}

.selector .tour label {
    display: inline-block;
    margin: 0;
}

.selector .tour label:hover {
    background: #eeeeee;
}

.selector .tour + .tour label {
    border-left: none;
}
